- content_for :title do
  申込管理

- content_for :js_start do
  application_flow

- content_for :css do
  application_flow

= haml :top_bar

.row
  .large-12.columns
    %h3 申込管理

#application-flow-list

%script#templ-flow-list(type='text/template')
  .row
    .large-12.columns
      %p 締切後の大会の事務処理フローを管理します
      <% if(data.length === 0){ %>
      %p.no-data フロー管理対象の大会はありません
      <% } else { %>
      %table.flow-list-table
        %thead
          %tr
            %th 大会名
            %th 開催日
            %th 参加者数
            %th 現在のステップ
            %th 次のアクション
        %tbody
          :plain
            <% _.each(data, function(item){ %>
            <tr class="flow-list-item" data-id="<%= item.event_id %>">
              <td>
                <a href="#" class="show-detail"><%- item.event_name %></a>
              </td>
              <td><%= item.event_date %></td>
              <td><%= item.participant_count %>名</td>
              <td>
                <span class="step-badge"><%= item.step_name %></span>
              </td>
              <td class="next-action"><%- item.next_action %></td>
            </tr>
            <% }) %>
      <% } %>
